{% extends "base.html" %}

{% block content %}
<br>
<br><article class="b--green mw7 center ph3 ph5-ns tc br2 pv5 bg-light-gray dark-green mb5">
  <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
    Welcome to the Code Snippet Manager.
  </h1>
  <h2 class="fw2 f4 lh-copy mt0 mb3">
    You can view, copy & edit your own snippets here.
  </h2>
  <p class="fw1 f5 mt0 mb3">
    Click below to register or log in above.
  </p>
  <div>
    <a class="f6 br-pill bg-dark-green no-underline washed-green ba b--dark-green grow pv2 ph3 dib mr3" href={% url 'registration_register' %}>
      Sign Up
    </a>
  </div>
  <br><img class="db ba b--black-10 center" src="static/images/snipimage.png">
</article>
{% endblock content %}