{% extends "base.html" %}

{% block content %}

<div class="green">
  <h1>All Snippets</h1>
</div>

<form action="{% url 'search_snippets' %} "class="list-sort-button second" method="GET">
  <input name="search_string" type="text" placeholder="Search here">
</form>

<p><a href="{% url 'add_snippet' %}">Add New Snippet</a></p>
<p><a href="{% url 'profile' %}">Profile Page</a></p>

<div class="flex flex-wrap">
  {% for snippet in snippets %}
  {% include "snippets/snippet_partial.html" with snippet=snippet %}
  {% endfor %}
</div>
{% endblock %}